{% extends "base.html" %}
{% load bootstrap4 %}   
{% block title %}Tarefas{% endblock title %}
{% block main %}
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                    <i class="fas fa-align-justify"></i>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'listar_tarefa' %}"><- Voltar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <form method="POST" class="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm">
                        <span class="negrito">Nome da tarefa:</span>
                        {% bootstrap_field form.nome placeholder="Nome da tarefa" show_label=False %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                        <span class="negrito">Descrição da tarefa:</span>
                        {% bootstrap_field form.descricao placeholder="Descrição" show_label=False %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                        <span class="negrito">Prioridade:</span>
                        {% bootstrap_field form.prioridade placeholder="Prioridade" show_label=False %}
                </div>
                <div class="col-sm">
                        <span class="negrito">Situação:</span>
                        {% bootstrap_field form.situacao placeholder="Situação" show_label=False %}
                </div>
                <div class="col-sm">
                        <span class="negrito">Tipo:</span>
                        {% bootstrap_field form.tipo placeholder="Tipo" show_label=False %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <span class="negrito">Data de início:</span>
                    {% bootstrap_field form.data_inicio placeholder="Data de início" show_label=False %}
                </div>
                <div class="col-sm">
                    <span class="negrito">Data final:</span>
                    {% bootstrap_field form.data_fim placeholder="Data final" show_label=False %}
                </div>
                <div class="col-sm">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <span class="negrito">Horas estimadas:</span>
                    {% bootstrap_field form.horas_estimadas placeholder="Horas estimadas" show_label=False %}
                </div>
                <div class="col-sm">
                    <span class="negrito">Horas gastas:</span>
                    {% bootstrap_field form.horas_gastas placeholder="Horas gastas" show_label=False %}
                </div>
                <div class="col-sm">
                    {% buttons %}
                        <button type="submit" class="btn btn-dark btn-salvar">
                          Cadastrar
                        </button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
        </div>            
{% endblock main %} 