body {
    background-color: #00002d;
    color: #fff;
}

body h1 {
    font-size: 10rem;
    border-bottom: 3px solid #fff;
}

.login-realizar-cadastro, .login-esqueceu-senha {
    font-size: 0.9rem;
    text-decoration: underline;
    padding-right: 1em;
}

.login-realizar-cadastro a, .login-esqueceu-senha a {
    color: #fff;
}

.login-botao-entrar {
    padding-bottom: 0.5em;
}

.user-input, .password-input {
    margin-top: 1em;
}

.sigest-titulo {
    margin-bottom: 10em;
}