@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-light {
    color: #fff;
    background-color: #00002d;
}

.navbar-brand {
    font-size: 1.5rem;
}